/* import "leaflet/dist/leaflet.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: "Tanker-Regular";
  src: url("/fonts/tanker/Tanker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
} */

html,
body,
:root {
  font-variant-ligatures: none;
  font-feature-settings:
    "liga" 0,
    "clig" 0;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --sal-yellow: 50 100% 72%; /* #ffe770 */
    --sal-yellow-light: 50 100% 80%; /* #ffe770 */
    --sal-yellow-lt-hover: 50 100% 85%; /* #ffe770 */
    --sal-yellow-dark: 50 70% 62%; /* #ffe770 */
    --dashboard-bg-lt: 83 50% 95%;

    /* --sal-yellow-old: hsl(50 100% 72%); /* #ffe770 */
    --sal-pink-dark: 303 70% 62%; /* #ff7bff #f4a9f6 */
    --sal-pink: 303 100% 82%; /* #ff7bff #f4a9f6 */
    --sal-pink-light: 303 100% 90%; /* #ff7bff #f4a9f6 */
    --sal-pink-lt-hover: 303 100% 95%; /* #ff7bff #f4a9f6 */

    --sal-pink-hex: #f4a9f6;
    --sal-green: 83, 51%, 88%; /* #e4f0d1 */
    --sal-test: rgb(228, 240, 209);
    --sal-yellow-hex: #f8f16b;
    --background: 83, 51%, 88%;
    --background-hex: #e4f0d1;
    --background-dark: 83, 51%, 78%;
    /* --background: 0 0% 100%; */
    --user-icon: var(--sal-yellow-old);
    --foreground-hex: #020817;
    --foreground: 222.2 84% 4.9%;
    /* --sal-progress: rgb(255, 247, 100); */
    --sal-progress: hsl(50 100% 72%);
    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;
    --card-secondary: 51, 94%, 90%;
    --toucan-color: hsl(22, 88%, 54%);

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: #171716;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    /* --nav-height: 100px; */

    --nav-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 80%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    /* --------- Full Calendar --------- */
    --fc-border-color: var(--border);
    --fc-list-event-hover-bg-color: rgba(255, 255, 255, 0.8);
    --fc-today-bg-color: rgba(255, 255, 255, 0.5);

    --fc-event-bg-color: #fff;
    --fc-event-border-color: #000;
    --fc-event-text-color: #000;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  }
  .dark {
    --color-picker-preview: hsl(47, 1%, 10%);
    --background: 51, 0%, 13%;
    --background-hex: #212121;

    --foreground: 40 0% 88%;
    --foreground-hex: #e0e0e0;

    --card: 40, 1%, 11%;

    --card-foreground: 38 0% 80%;
    --dashboard-bg-lt: 45 0% 20%;

    --popover: 45.2 4% 18.9%;

    --popover-foreground: 38 0% 80%;

    --primary: 38 0% 80%;

    --primary-foreground: 45.2 0% 11.2%;

    --secondary: 40 0% 17.5%;

    --secondary-foreground: 38 0% 80%;

    --muted: 40 0% 37.5%;

    --muted-foreground: 40 0% 65.1%;
    /* --muted-foreground: 35, 0%, 37%; */
    --txt-muted-foreground: 40, 0%, 37%;

    --accent: 40 2.6% 17.5%;

    --accent-foreground: 38 0% 80%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 38 0% 80%;

    --border: 40 0% 17.5%;

    --input: 40 0% 17.5%;

    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 40 91.2% 59.8%;
  }
  .default {
    --background-prev: 60 90% 75%; /* #f8f16b */
    /* --background: 0 0% 100%; */
    --background-dark: 50 70% 52%;
    --background: 50 100% 72%;
    --background-hex: #ffe770;
    --dashboard-bg-lt: 50 100% 90%;

    --sal-progress: var(rgb(240, 121, 244));
    --user-icon: 0, 0%, 100%;

    --foreground: 222.2 84% 4.9%;
    --foreground-hex: #020817;
    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: #171716;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .white {
    --background-prev: 60 90% 75%; /* #f8f16b */
    --background: 0 0% 100%;
    /* --background: 50 100% 72%; */
    --sal-progress: var(rgb(240, 121, 244));
    --user-icon: 0, 0%, 100%;

    --foreground: 222.2 84% 4.9%;
    --foreground-hex: #020817;
    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: #171716;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  /* @media (min-width: 1024px) {
    :root {
      --nav-shadow: none;
    }
  } */
}

@layer base {
  * {
    @apply border-foreground outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.invalid-field {
  @apply border-red-600 ring-1 ring-red-600;
}

.mt-mobile {
  @media (max-width: 768px) {
    margin-top: 2em;
  }
}

.not-ipad {
  @media (1023px > width > 1400px) {
    display: none;
  }
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  &:has(button:not(.link-btn)) {
    @apply no-underline hover:no-underline !important;
  }
}
/* ----------- Components ------------ */

.search {
  & .scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  &.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  &.scrollbar::-webkit-scrollbar-thumb {
    background: #e6dcd5;
    border-radius: 100vh;
    /*  border: 3px solid #f6f7ed;  */
  }

  &.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e0cbcb;
  }
}

.no-scroll {
  overflow: hidden !important;
}

.scrollable {
  &.justy {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &.justx {
    overflow-x: auto;
    overflow-y: hidden;
  }
  overflow: auto;
  scrollbar-gutter: auto;
  /* &.boundless {
    height: 100vh;
  } */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.scrollable::-webkit-scrollbar {
  width: 0.75em;
  height: 1em; /* if you also want horizontal scrollbars */
}

.scrollable::-webkit-scrollbar-track {
  background: var(--background);
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 9999px; /* fully rounded */
  border: 2px solid black;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  &&.thin {
    border: 1px solid black;
  }
}

.scrollable::-webkit-scrollbar-thumb:hover {
  transform: scaleX(2); /* doubles the width from 2px to ~4px */
}
.scrollable.mini::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollable.mini.darkbar::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) / 0.65);
}

.scrollable.mini::-webkit-scrollbar-thumb {
  /* background: rgb(224, 220, 217); */
  background: hsl(var(--primary) / 0.15);
  border: none;
}
.scrollable.invis {
  scrollbar-gutter: unset;
  overflow: auto;
}

.scrollable.invis::-webkit-scrollbar {
  display: none;
  width: 0;
}

.scrollable.invis {
  -ms-overflow-style: none;
}

@-moz-document url-prefix() {
  .scrollable {
    scrollbar-width: thin;
    scrollbar-color: var(--background) rgb(255, 252, 199);
  }
}

.accordion-cont {
  &:not(:last-of-type) {
    padding-bottom: 10px;
  }
  &:not(:first-of-type) {
    padding-top: 10px;
  }
}

.price-card-cont {
  &:not(:last-of-type) {
    margin-bottom: 5em;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

:focus-visible {
  outline: 2px solid var(--sal-pink-hex);
  outline-offset: 2px;
}

:focus,
:focus-within,
:active {
  &:not(button) {
    box-shadow: none;
  }
  outline: none;
  /* border: 2px solid black ; */
}
form {
  input:focus,
  textarea:focus {
    outline: 1px solid black;
    outline-offset: 0;
  }
  input:not(:placeholder-shown):valid {
    background-color: rgb(255, 255, 255);
  }
}
text-area::placeholder,
input::placeholder {
  color: foreground;
}

input[type="number"].arrowless::-webkit-inner-spin-button,
input[type="number"].arrowless::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-autofill,
input::-webkit-autofill:hover,
input::-webkit-autofill:focus,
input::-webkit-autofill:active {
  background-color: white;
  color: black;
  box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
  caret-color: black; /* note-to-self: cursor styling*/

  &.sal {
    -webkit-box-shadow: 0 0 0 30px var(--sal-yellow-hex) inset;
  }
  font-weight: 400;
  font-style: italic;
}

input::-moz-focus-inner {
  border: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:not(:placeholder-shown):not(:valid):not(:read-only) {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.2); /* outer offset outline */
}

::selection {
  background: var(--sal-pink-hex); /* Yellow highlight */
  color: black;
}

button,
img,
svg,
a {
  user-select: none;
}
/* *:not(p, h1, h2, h3) {
  user-select: none;
} */

/* button:focus-visible,
button:focus-within,
button:active {
  outline: var(--sal-pink) solid 2px;
} */
/* 
:focus-visible {
  &:not(button) {
    outline: rgba(0, 0, 0, 0.2) solid 2px;
  }

  border-radius: 5px;
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.stroked {
  -webkit-text-stroke: 3px black;
  &.wshadow {
    text-shadow: black -5px 5px;
  }
}

.unstroked {
  -webkit-text-stroke: 0;
}

@-moz-document url-prefix() {
  .stroked {
    /* -moz-text-stroke: 2px black; */
    -webkit-text-stroke: 2px black;
    /* text-shadow: none!important; */
  }
}

/* Data Table */

/* .data-table-container {
  @media (max-width: 1500px) {
    max-height: calc(85dvh - 10rem);
  }
  @media (width > 1500px) {
    max-height: calc(85dvh - 7rem);
  }
} */

/* Leaflet */

.leaflet-custom-marker-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-custom-shadow {
  position: absolute;
  bottom: -4px;
  width: 20px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(2px);
  z-index: -1;
}

/* Toastify */
@media (max-width: 768px) {
  .Toastify__toast-container--top-right {
    bottom: auto !important;
    top: 1rem !important;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
  }
}

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tab {
  line-height: 0.8;
  display: inline-block;
  margin-left: -20px;
  /* filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05)); */
  border: none;
  border-radius: 6px 6px 0 0;
  position: relative;
  margin-right: 4rem;
  white-space: nowrap;
  cursor: pointer;

  &:first-of-type {
    margin-left: 30px;
  }
  div {
    padding: 6px 0;
    position: relative;
    z-index: 10;
  }
  span {
    display: inline-block;
    padding: 6px 15px 6px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    font-size: 1em;
    min-width: 6rem;
  }
  &:before,
  &:after {
    content: "";
    height: 100%;
    position: absolute;
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
  }
  &:before {
    right: -16px;
    transform: skew(10deg);
    border-radius: 0 8px 0 0;
  }
  &:after {
    transform: skew(-10deg);
    left: -16px;
    border-radius: 8px 0 0 0;
  }
  &.active {
    z-index: 11;
    position: relative;
    span {
      border-radius: 5px;
      color: black;
    }
  }
}

.content {
  position: relative;
  width: 100%;

  &.inner {
    border-radius: inherit;
    padding: 1rem;
    /* filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.3)); */
    z-index: 5;
  }
}

.tabs {
  padding: 2rem 0 0 0;
  width: 100%;
  margin: 0 0.5rem;

  width: calc(100% - 1rem);
  white-space: nowrap;
  @media (min-width: 50rem) {
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }
}

.folder {
  .tab {
    top: 1.3px;
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    border-width: 1.5px 0 0;
    &:before,
    &:after {
      top: -1.2px;
      border-top: 1.5px solid rgba(0, 0, 0, 0.15);
    }
    &:before {
      border-right: 1.5px solid rgba(0, 0, 0, 0.15);
    }
    &:after {
      border-left: 1.5px solid rgba(0, 0, 0, 0.15);
    }

    &:not(.active) {
      & > div {
        background: hsl(var(--background));
      }

      border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
      /* &:before,
      &:after {
        box-shadow: 0 1.5px 0 black;
      } */
    }
  }
  .content {
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    top: -2px;
    left: -2px;
  }
}

/* Form recap */

.form-recap {
  & * th {
    font-weight: 600;
  }
  td:not(.first-child, .last-child),
  th:not(.first-child, .last-child) {
    border-bottom: 1px solid hsl(var(--foreground) / 0.1);
    padding-bottom: 4px;
  }
}

/* FullCalendar */

.fc-toolbar {
  background-color: hsl(var(--background));
  border-bottom: 1px solid var(--border);
  padding-block: 0.5rem;
}

.fc-toolbar-title {
  font-weight: bold;
  font-size: 1.2em;
}

.fc-toolbar-chunk {
  display: inline-block;
}

.fc {
  & .fc-button {
    background-color: var(--button-bg, white);
    color: var(--button-text, #000);
    border: 1.5px solid black;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 6px;
    transition: background 0.2s;
  }
  & .fc-button:hover {
    background-color: var(--sal-pink-hex);
    color: black;
  }
  & .fc-button:disabled {
    opacity: 0.5;
    background: transparent;
    color: black;
    border: 1.5px solid black;
  }
  & .fc-button-primary:focus {
    box-shadow: none;
  }
  & .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
  }
  & .fc-button:focus {
    box-shadow: none;
  }
  & .fc-button-primary:not(:disabled):active {
    background-color: rgb(226, 148, 228);
    color: black;
  }
  & .fc-day-today {
    position: relative;
  }
  & .fc-day-today:not(:has(.fc-daygrid-event-harness))::before {
    @media (width > 1024px) {
      left: 50%;
      top: 50%;
      /* transform: translateX(-50%); */
      transform: translate(-50%, -50%);
      content: "Today";
      position: absolute;
      font-weight: bold;
    }
  }
}

.fc-event {
  padding: 0.25rem 0.5rem;
  border-width: 1.5px;
  &:hover {
    background-color: rgba(244, 169, 246, 0.527);
  }
  & .fc-event-title {
    font-weight: 600; /* bold or semi-bold */
    font-size: 0.9rem;
    max-width: 16ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fc-popover {
  /* display: none; */
  opacity: 0;
}

.event-card-link:hover {
  & * svg {
    scale: 1.1;
  }
}

/* Zoom Slider */

.zoom-slider::-webkit-slider-thumb {
  appearance: none;
  margin-top: -5px;
  width: 16px;
  height: 16px;
  background: rgb(241, 232, 74); /* emerald-500 */
  border-radius: 100%;
  z-index: 1;

  cursor: pointer;
  box-shadow:
    /* 0 0 0 2px white, */ 0 0 0 2px #000000;
  &:hover {
    scale: 1.1;
  }
}

.zoom-slider::-webkit-slider-runnable-track {
  background-color: #22c55e; /* Tailwind's emerald-500 */
  height: 4px;
  border-radius: 20px;
}

.zoom-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #10b981;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

/* [data-radix-popper-arrow] {
  visibility: visible !important;
  opacity: 1 !important;
} */
.react-activity-calendar rect {
  stroke: #b8a247 !important;
  stroke-width: 1 !important;
  &[data-level="0"] {
    fill: var(--background-hex) !important;
  }
  &[data-level="1"] {
    fill: #fbb2fb !important;
  }
  &[data-level="2"] {
    fill: #ff7bff !important;
  }
  &[data-level="3"] {
    fill: #e151e1 !important;
  }
  &[data-level="4"] {
    fill: #a917a9 !important;
  }
}

/* .react-datepicker-popper {
} */

.react-datepicker-popper {
  z-index: 9999 !important; /* or higher depending on your layout */
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__year-text--today,
.react-datepicker__quarter-text--today {
  /* background-color: rgba(248, 241, 107, 0.7); */
  background-color: rgba(244, 169, 246, 0);
  font-weight: bold;
  border-radius: 0.3rem;
}
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__quarter-text--today {
  background: none !important;
  &:hover {
    background-color: rgba(244, 169, 246, 0.5) !important;
    color: black !important;
  }
}
.react-datepicker-wrapper {
  width: 100%;
  & * input {
    cursor: pointer;
  }
}

div:has(> .react-datepicker__input-container) {
  width: 100%;
  &:is([disabled]) {
    button {
      border-color: hsl(var(--foreground) / 0.3);
    }
  }
}

.react-datepicker {
  display: flex;
  padding: 1em;
  font-size: 14px;
  background-color: white;
  z-index: 50;
  border: 1px solid black;
  border-radius: 0.25rem;
  /* min-width: min(50vw, 300px);
  min-height: min(60dvh, 300px);
  max-height: calc(85dvh - 10rem); */
  &[aria-label="Choose Date and Time"] {
    @media (width <= 768px) {
      flex-direction: column;
      width: 90vw;
    }
  }
}
/* 
.react-datepicker__navigation--previous {
  left: 0.75em;
  top: 1em;
}
.react-datepicker__navigation--next {
  right: 0.75em;
  top: 1em;
} */
.react-datepicker__input-container {
  display: flex;
}

.react-datepicker__navigation--next--with-time:not(
    .react-datepicker__navigation--next--with-today-button
  ) {
  right: 7.75em;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 1.5px solid hsl(var(--foreground) / 0.3);

  &.react-datepicker-year-header {
    font-size: 1.5rem;
  }
}
div:has(> div.react-datepicker__input-container) {
  display: flex;
  &:first-of-type:has(.hansel) {
    max-width: 8em;
    @media (width <= 768px) {
      max-width: 100%;
    }
  }
  &:nth-of-type(2):has(.gretel) {
    flex: 1;
  }
}

.react-datepicker__month-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.react-datepicker__month {
  margin: 0.5rem;
  @media (max-width: 768px) {
    font-size: 1.2em;
  }
  & .react-datepicker__week {
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &.react-datepicker__monthPicker {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
    justify-content: center;
    font-size: 1.1em;
    & .react-datepicker__month-wrapper {
      display: flex;
      justify-content: space-around;
    }
  }
}

.react-datepicker__year {
  .react-datepicker__year-wrapper {
    justify-content: space-around;
    gap: 0.5em;
    & > div {
      padding: 0.25em;
    }
    @media (max-width: 768px) {
      font-size: 1.2em;
    }
  }
}
.react-datepicker__time-container {
  width: 14em;
  @media (width <= 768px) {
    width: 100%;
    font-size: 2.25em;
    border-left: none;
    border-top: 1px solid hsl(var(--foreground) / 0.3);
  }
  & .react-datepicker__time {
    display: flex;
    & .react-datepicker__time-box {
      flex: 1;
      & .react-datepicker__time-list {
        width: 100%;
      }
    }
  }
}
.react-datepicker__time-list {
  position: relative;
  overflow: auto;
  scrollbar-gutter: auto;
  min-height: min(65dvh, 450px);
  max-height: min(65dvh, 450px);

  @media (max-width: 768px) {
    max-height: 200px;
    min-height: 200px;
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 35%,
      black 65%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 35%,
      black 65%,
      transparent 100%
    );
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  & .react-datepicker__time-list-item {
    @media (max-width: 768px) {
      padding-block: 0.5em !important;
      height: auto !important;
      &:first-of-type {
        margin-top: 0.25em;
      }
      &:last-of-type {
        margin-bottom: 0.25em;
      }
    }
  }
}
.react-datepicker__time-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) / 0.65);
}

.react-datepicker__day--selected {
  background-color: #facc15;
  color: black;
}

.react-datepicker__day:hover {
  background-color: #fde68a;
}
.react-datepicker__day {
  &.react-datepicker__day--disabled {
    color: hsl(var(--foreground) / 0.3);
  }
}

.react-datepicker__tab-loop {
  position: absolute;
}

.react-datepicker__month-text.react-datepicker__month-text--disabled {
  color: hsl(var(--foreground) / 0.3);
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  width: auto;
  padding: 0.25rem 0.85rem;
}

.react-datepicker__month-read-view,
.react-datepicker__year-read-view {
  font-weight: bold;
  margin-bottom: 10px;
}
.react-datepicker__time-list-item,
.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__year-text {
  border: 1.5px solid transparent;
  border-radius: 0.3rem;
  color: black;
}
.react-datepicker__time-list-item:not([aria-disabled="true"]):hover,
.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  background-color: rgba(244, 169, 246, 0.527) !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.25);
}

.react-datepicker__time-list-item--selected.react-datepicker__time-list-item,
.react-datepicker__day--selected,
.react-datepicker__month-text--selected,
.react-datepicker__year-text--selected {
  background-color: rgb(248, 241, 107) !important;
  border-color: black;
  color: black !important;
}

.react-datepicker__quarter-wrapper div:nth-child(1)::after {
  content: "Spring";
}
.react-datepicker__quarter-wrapper div:nth-child(2)::after {
  content: "Summer";
}
.react-datepicker__quarter-wrapper div:nth-child(3)::after {
  content: "Fall";
}
.react-datepicker__quarter-wrapper div:nth-child(4)::after {
  content: "Winter";
}
.react-datepicker__quarter-wrapper div::after {
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  content: attr(data-season);
}

.react-datepicker__quarter-wrapper div {
  font-size: 0 !important; /* hide original Q1 text */
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  display: inline-block;
  width: 1.7rem;
  line-height: unset;
  text-align: center;
  margin: 0.166rem;
  &:hover {
    cursor: pointer;
  }
}
/* #region ------------- Phone Input -------------- */

.PhoneInputInput {
  @media (width < 768px) {
    width: 100%;
  }
  &:focus {
    outline: none;
    border: none;
  }
}

.PhoneInputCountry {
  & > select {
    &:disabled {
      opacity: 50%;
      filter: grayscale(1);
      color: white;
      cursor: not-allowed;
    }
  }
  &:has(select:disabled) {
    & * img {
      filter: grayscale(1);
    }
  }
}

.PhoneInputCountryIcon--border {
  box-shadow: none;
}
/* #endregion */
/* #region ------------- Rich Text -------------- */
.ProseMirror {
  @apply scrollable justy mini;
}
/* .rich-modal-cont {
  max-width: 90vw;
} */
.rich-text {
  &.rich-modal {
    @media (max-width: 768px) {
      max-width: 85vw;
    }
    display: flex;
    & .ProseMirror {
      padding: 1em 2em 2em;
    }
  }
  & * a {
    font-weight: 600;
    text-decoration: underline;
  }
  & ul,
  ol {
    &:not([data-type="taskList"]) {
      margin-left: 1.25em;
      padding-left: 1.25em;
    }
    /* // reverts to pre-tailwind preflight */
    list-style: revert;
    /* margin-left: 1.25em;
    padding-left: 1.25em; */
    list-style-position: outside;
  }
  & > ul:not([data-type="taskList"]) {
    list-style-type: disc;
  }
  & * ul:is([data-type="taskList"]) {
    list-style-type: none;
    display: flex;
    flex-direction: column;

    & > li {
      display: flex;
      column-gap: 0.25rem;
    }
    & * input[type="checkbox"] {
      appearance: auto;
      transform: translateY(0.1rem);
    }
  }
  & ol {
    list-style-type: decimal;
  }
  & ul li,
  ol li {
    margin-bottom: 0.25rem;
  }
  .rich-check {
    transform: translateY(0.125rem);
  }
  & * li[data-type="taskItem"] {
    &:first-of-type {
      margin-top: 0.25rem;
    }
  }

  & ul ul {
    list-style-type: circle;
  }

  & ul ul ul {
    list-style-type: square;
  }

  & ol ol {
    list-style-type: lower-alpha;
  }

  & ol ol ol {
    list-style-type: lower-roman;
  }
}

.rich-text__preview-wrapper {
  & p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
  }
}

/* required for @tiptap/extension-placeholder to work */
/* Placeholder support for Tiptap */
.ProseMirror {
  /* min-height: 100px; */
  padding: 0.5rem;
  cursor: text;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* or a defined max height */
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.ProseMirror {
  flex: 1;
  min-height: 100px; /* still needed for empty state */
  max-height: 300px; /* optional */
  overflow-y: auto;
}
/* #endregion */

/*global.css
.rich-text ul[data-type="taskList"] {
  @apply list-none pl-6;
}

.rich-text li[data-type="taskItem"] {
  @apply relative mb-2 pl-7;
}
*/

/* -------------- Event/Org link component -------------- */

.links-hidden {
  @media (max-width: 640px) {
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
  }
}

/* #region ---------- FilePond -------------- */
.filepond--credits {
  display: none;
}
.filepond--wrapper {
  border: 1px solid hsl(var(--foreground));
  overflow: hidden;
  border-radius: 0.3em;
  & .filepond--root {
    margin-bottom: 0 !important;
  }
  & .filepond--panel-root {
    background-color: transparent;
  }
  &:has(div[data-disabled]) {
    border-color: hsl(var(--foreground) / 0.3);
  }
}

.filepond--item {
  & .filepond--file-wrapper {
    /* background: hsl(var(--background)); */
    border-radius: 0.3em;
    border: 1px solid hsl(var(--foreground) / 0.3);
    & .filepond--file-info {
      & span.filepond--file-info-main {
        color: hsl(var(--foreground));
      }
      & span.filepond--file-info-sub {
        color: hsl(var(--foreground) / 0.8);
      }
    }
  }
  & .filepond--item-panel {
    background: hsl(var(--background));
    border: 1px solid hsl(var(--foreground) / 0.3);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
  & .filepond--file-action-button.filepond--action-remove-item {
    &:focus,
    &:hover {
      box-shadow: none !important;
    }
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
    &:active {
      scale: 0.95;
    }
  }
}

/* #endregion */
