/* import "leaflet/dist/leaflet.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: "Tanker-Regular";
  src: url("/fonts/tanker/Tanker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
} */

html,
body,
:root {
  height: 100vh;
  height: 100dvh;
  font-variant-ligatures: none;
  font-feature-settings:
    "liga" 0,
    "clig" 0;
}

/* body {
  scrollbar-gutter: auto;
} */

@layer base {
  :root {
    --sal-yellow: 50 100% 72%; /* #ffe770 */
    --sal-yellow-light: 50 100% 80%; /* #ffe770 */
    --sal-yellow-lt-hover: 50 100% 85%; /* #ffe770 */
    --sal-yellow-dark: 50 70% 62%; /* #ffe770 */
    --dashboard-bg-lt: 83 50% 95%;

    /* --sal-yellow-old: hsl(50 100% 72%); /* #ffe770 */
    --sal-pink-dark: 303 70% 62%; /* #ff7bff #f4a9f6 */
    --sal-pink: 303 100% 82%; /* #ff7bff #f4a9f6 */
    --sal-pink-light: 303 100% 90%; /* #ff7bff #f4a9f6 */
    --sal-pink-lt-hover: 303 100% 95%; /* #ff7bff #f4a9f6 */

    --sal-pink-hex: #f4a9f6;
    --sal-green: 83, 51%, 88%; /* #e4f0d1 */
    --sal-test: rgb(228, 240, 209);
    --sal-yellow-hex: #f8f16b;
    --background: 83, 51%, 88%;
    --background-hex: #e4f0d1;
    --background-dark: 83, 51%, 78%;
    /* --background: 0 0% 100%; */
    --user-icon: var(--sal-yellow-old);
    --foreground-hex: #020817;
    --foreground: 222.2 84% 4.9%;
    /* --sal-progress: rgb(255, 247, 100); */
    --sal-progress: hsl(50 100% 72%);
    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: #171716;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    /* --nav-height: 100px; */

    --nav-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 80%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    /* --------- Full Calendar --------- */
    --fc-border-color: var(--border);
    --fc-list-event-hover-bg-color: rgba(255, 255, 255, 0.8);
    --fc-today-bg-color: rgba(255, 255, 255, 0.5);

    --fc-event-bg-color: #fff;
    --fc-event-border-color: #000;
    --fc-event-text-color: #000;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  }
  .dark {
    --color-picker-preview: hsl(47, 1%, 10%);
    --background: 51, 0%, 13%;
    --background-hex: #212121;

    --foreground: 40 0% 88%;
    --foreground-hex: #e0e0e0;

    --card: 40, 1%, 11%;

    --card-foreground: 38 0% 80%;
    --dashboard-bg-lt: 45 0% 20%;

    --popover: 45.2 4% 18.9%;

    --popover-foreground: 38 0% 80%;

    --primary: 38 0% 80%;

    --primary-foreground: 45.2 0% 11.2%;

    --secondary: 40 0% 17.5%;

    --secondary-foreground: 38 0% 80%;

    --muted: 40 0% 37.5%;

    --muted-foreground: 40 0% 65.1%;
    /* --muted-foreground: 35, 0%, 37%; */
    --txt-muted-foreground: 40, 0%, 37%;

    --accent: 40 2.6% 17.5%;

    --accent-foreground: 38 0% 80%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 38 0% 80%;

    --border: 40 0% 17.5%;

    --input: 40 0% 17.5%;

    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 40 91.2% 59.8%;
  }
  .default {
    --background-prev: 60 90% 75%; /* #f8f16b */
    /* --background: 0 0% 100%; */
    --background-dark: 50 70% 52%;
    --background: 50 100% 72%;
    --background-hex: #ffe770;
    --dashboard-bg-lt: 50 100% 90%;

    --sal-progress: var(rgb(240, 121, 244));
    --user-icon: 0, 0%, 100%;

    --foreground: 222.2 84% 4.9%;
    --foreground-hex: #020817;
    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: #171716;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .white {
    --background-prev: 60 90% 75%; /* #f8f16b */
    --background: 0 0% 100%;
    /* --background: 50 100% 72%; */
    --sal-progress: var(rgb(240, 121, 244));
    --user-icon: 0, 0%, 100%;

    --foreground: 222.2 84% 4.9%;
    --foreground-hex: #020817;
    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: #171716;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  /* @media (min-width: 1024px) {
    :root {
      --nav-shadow: none;
    }
  } */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.mt-mobile {
  @media (max-width: 768px) {
    margin-top: 2em;
  }
}

/* ----------- Components ------------ */

.search {
  & .scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  &.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  &.scrollbar::-webkit-scrollbar-thumb {
    background: #e6dcd5;
    border-radius: 100vh;
    /*  border: 3px solid #f6f7ed;  */
  }

  &.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e0cbcb;
  }
}

.no-scroll {
  overflow: hidden !important;
}

.scrollable {
  &.justy {
    overflow-y: auto;
    overflow-x: hidden;
  }
  overflow: auto;
  scrollbar-gutter: auto;
  /* &.boundless {
    height: 100vh;
  } */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.scrollable::-webkit-scrollbar {
  width: 0.75em;
  height: 1em; /* if you also want horizontal scrollbars */
}

.scrollable::-webkit-scrollbar-track {
  background: var(--background);
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 9999px; /* fully rounded */
  border: 2px solid black;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  transform: scaleX(2); /* doubles the width from 2px to ~4px */
}
.scrollable.mini::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollable.mini.darkbar::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) / 0.65);
}

.scrollable.mini::-webkit-scrollbar-thumb {
  /* background: rgb(224, 220, 217); */
  background: hsl(var(--primary) / 0.15);
  border: none;
}
.scrollable.invis {
  scrollbar-gutter: unset;
  overflow: auto;
}

.scrollable.invis::-webkit-scrollbar {
  display: none;
  width: 0;
}

.scrollable.invis {
  -ms-overflow-style: none;
}

@-moz-document url-prefix() {
  .scrollable {
    scrollbar-width: thin;
    scrollbar-color: var(--background) rgb(255, 252, 199);
  }
}

.accordion-cont {
  &:not(:last-of-type) {
    padding-bottom: 10px;
  }
  &:not(:first-of-type) {
    padding-top: 10px;
  }
}

.price-card-cont {
  &:not(:last-of-type) {
    margin-bottom: 5em;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

:focus-visible {
  outline: 2px solid var(--sal-pink-hex);
  outline-offset: 2px;
}

:focus,
:focus-within,
:active {
  &:not(button) {
    box-shadow: none;
  }
  outline: none;
  /* border: 2px solid black ; */
}
form {
  input:focus,
  textarea:focus {
    outline: 1px solid black;
    outline-offset: 0;
  }
  input:not(:placeholder-shown):valid {
    background-color: rgb(255, 255, 255);
  }
}
text-area::placeholder,
input::placeholder {
  color: foreground;
}

input::-webkit-autofill,
input::-webkit-autofill:hover,
input::-webkit-autofill:focus,
input::-webkit-autofill:active {
  background-color: white;
  color: black;
  box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
  caret-color: black; /* note-to-self: cursor styling*/

  &.sal {
    -webkit-box-shadow: 0 0 0 30px var(--sal-yellow-hex) inset;
  }
  font-weight: 400;
  font-style: italic;
}

input::-moz-focus-inner {
  border: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:not(:placeholder-shown):not(:valid):not(:read-only) {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.2); /* outer offset outline */
}

::selection {
  background: var(--sal-pink-hex); /* Yellow highlight */
  color: black;
}

button,
img,
svg,
a {
  user-select: none;
}
/* *:not(p, h1, h2, h3) {
  user-select: none;
} */

button:focus-visible,
button:focus-within,
button:active {
  outline: var(--sal-pink) solid 2px;
}
/* 
:focus-visible {
  &:not(button) {
    outline: rgba(0, 0, 0, 0.2) solid 2px;
  }

  border-radius: 5px;
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.stroked {
  -webkit-text-stroke: 3px black;
  &.wshadow {
    text-shadow: black -5px 5px;
  }
}

.unstroked {
  -webkit-text-stroke: 0;
}

@-moz-document url-prefix() {
  .stroked {
    /* -moz-text-stroke: 2px black; */
    -webkit-text-stroke: 2px black;
    /* text-shadow: none!important; */
  }
}

/* Leaflet */

.leaflet-custom-marker-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-custom-shadow {
  position: absolute;
  bottom: -4px;
  width: 20px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(2px);
  z-index: -1;
}

/* Toastify */
@media (max-width: 768px) {
  .Toastify__toast-container--top-right {
    bottom: auto !important;
    top: 1rem !important;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
  }
}

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tab {
  line-height: 0.8;
  display: inline-block;
  margin-left: -20px;
  /* filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05)); */
  border: none;
  border-radius: 6px 6px 0 0;
  position: relative;
  margin-right: 4rem;
  white-space: nowrap;
  cursor: pointer;

  &:first-of-type {
    margin-left: 30px;
  }
  div {
    padding: 6px 0;
    position: relative;
    z-index: 10;
  }
  span {
    display: inline-block;
    padding: 6px 15px 6px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    font-size: 1em;
    min-width: 6rem;
  }
  &:before,
  &:after {
    content: "";
    height: 100%;
    position: absolute;
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
  }
  &:before {
    right: -16px;
    transform: skew(10deg);
    border-radius: 0 8px 0 0;
  }
  &:after {
    transform: skew(-10deg);
    left: -16px;
    border-radius: 8px 0 0 0;
  }
  &.active {
    z-index: 11;
    position: relative;
    span {
      border-radius: 5px;
      color: black;
    }
  }
}

.content {
  position: relative;
  width: 100%;

  &.inner {
    border-radius: inherit;
    padding: 1rem;
    /* filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.3)); */
    z-index: 5;
  }
}

.tabs {
  padding: 2rem 0 0 0;
  width: 100%;
  margin: 0 0.5rem;

  width: calc(100% - 1rem);
  white-space: nowrap;
  @media (min-width: 50rem) {
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }
}

.folder {
  .tab {
    top: 1.3px;
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    border-width: 1.5px 0 0;
    &:before,
    &:after {
      top: -1px;
      border-top: 1.5px solid rgba(0, 0, 0, 0.15);
    }
    &:before {
      border-right: 1.5px solid rgba(0, 0, 0, 0.15);
    }
    &:after {
      border-left: 1.5px solid rgba(0, 0, 0, 0.15);
    }

    &:not(.active) {
      & > div {
        background: var(--background);
      }
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
      /* &:before,
      &:after {
        box-shadow: 0 1.5px 0 black;
      } */
    }
  }
  .content {
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    top: -2px;
    left: -2px;
  }
}

/* FullCalendar */

.fc-toolbar {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  padding-block: 0.5rem;
}

.fc-toolbar-title {
  font-weight: bold;
  font-size: 1.2em;
}

.fc-toolbar-chunk {
  display: inline-block;
}

.fc {
  & .fc-button {
    background-color: var(--button-bg, white);
    color: var(--button-text, #000);
    border: 1.5px solid black;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 6px;
    transition: background 0.2s;
  }
  & .fc-button:hover {
    background-color: var(--sal-pink-hex);
    color: black;
  }
  & .fc-button:disabled {
    opacity: 0.5;
    background: transparent;
    color: black;
    border: 1.5px solid black;
  }
  & .fc-button-primary:focus {
    box-shadow: none;
  }
  & .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
  }
  & .fc-button:focus {
    box-shadow: none;
  }
  & .fc-button-primary:not(:disabled):active {
    background-color: rgb(226, 148, 228);
    color: black;
  }
  & .fc-day-today {
    position: relative;
  }
  & .fc-day-today:not(:has(.fc-daygrid-event-harness))::before {
    @media (width > 1024px) {
      left: 50%;
      top: 50%;
      /* transform: translateX(-50%); */
      transform: translate(-50%, -50%);
      content: "Today";
      position: absolute;
      font-weight: bold;
    }
  }
}

.fc-event {
  padding: 0.25rem 0.5rem;
  border-width: 1.5px;
  &:hover {
    background-color: rgba(244, 169, 246, 0.527);
  }
  & .fc-event-title {
    font-weight: 600; /* bold or semi-bold */
    font-size: 0.9rem;
    max-width: 16ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fc-popover {
  /* display: none; */
  opacity: 0;
}

.event-card-link:hover {
  & * svg {
    scale: 1.1;
  }
}

/* Zoom Slider */

.zoom-slider::-webkit-slider-thumb {
  appearance: none;
  margin-top: -5px;
  width: 16px;
  height: 16px;
  background: rgb(241, 232, 74); /* emerald-500 */
  border-radius: 100%;
  z-index: 1;

  cursor: pointer;
  box-shadow:
    /* 0 0 0 2px white, */ 0 0 0 2px #000000;
  &:hover {
    scale: 1.1;
  }
}

.zoom-slider::-webkit-slider-runnable-track {
  background-color: #22c55e; /* Tailwind's emerald-500 */
  height: 4px;
  border-radius: 20px;
}

.zoom-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #10b981;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

/* [data-radix-popper-arrow] {
  visibility: visible !important;
  opacity: 1 !important;
} */
.react-activity-calendar rect {
  stroke: #b8a247 !important;
  stroke-width: 1 !important;
  &[data-level="0"] {
    fill: var(--background-hex) !important;
  }
  &[data-level="1"] {
    fill: #fbb2fb !important;
  }
  &[data-level="2"] {
    fill: #ff7bff !important;
  }
  &[data-level="3"] {
    fill: #e151e1 !important;
  }
  &[data-level="4"] {
    fill: #a917a9 !important;
  }
}
